<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.founder.interservice.caseinformation.mapper.CaseInformationMapper">

    <select id="selectCaseInformationList" parameterType="String" resultType="com.founder.interservice.caseinformation.model.CaseInformation">
        SELECT
        t4.ASJBH as asjbh,
        t4.AJMC as ajmc,
        t4.ASJFSSJ_ASJFSKSSJ as asjfssjAsjfskssj,
        t4.ASJFSDD_DZMC as asjfsddDzmc,
        t4.JYAQ as jyaq
        FROM gxzxt.tb_st_asj t4
        WHERE t4.ASJBH
        IN (
            SELECT t3.ASJBH
            FROM gxzxt.tb_gl_asj_ry t3, (
                SELECT t1.ZHFZXYR_ASJXGRYBH AS RYBH
                FROM gxzxt.tb_xw_zbfzxyr t1
                WHERE
                t1.ZHFZXYR_CYZJ_ZJHM = #{sfzh}
                )t2
            WHERE t3.ASJXGRYBH = t2.RYBH
        )
    </select>

</mapper>