<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.founder.interservice.loginlog.mapper.LoginLogMapper">

    <insert id="saveLoginLog" parameterType="com.founder.interservice.loginlog.model.LoginLog">
        INSERT INTO TB_ST_LOGINLOG
          (
          XXZJBH,
          ASJBH,
          CXR_SFZH,
          CXR_XM,
          CXR_JH,
          CXR_LXDH,
          CXR_DLSJ
          )
        VALUES
          (
          #{xxzjbh},
          #{asjbh},
          #{cxrSfzh },
          #{cxrXm },
          #{cxrJh },
          #{cxrLxdh },
          SYSDATE)
    </insert>

    <select id="selectLoginLogUser" parameterType="String" resultType="String">
        SELECT XXZJBH
        FROM TB_ST_LOGINLOG
        WHERE XXZJBH = #{xxzjbh}
    </select>
</mapper>