@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family:"ËÎÌå","serif","sans-serif","cursive","fantasy","monospace","Times New Roman",Georgia,Serif;
  	font-size: 14px;
}
ul,
li {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    line-height: 24px;
}
.lf{float:left;}
.rg{float:right;}
/*****header*****/
#header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: url(../images/banner.jpg);
    color: #fff;
    position: relative;
}
.h_icon {
    display: inline-block;
    float: left;
    width: 60px;
    height: 100%;
    text-align: center;
    line-height: 60px;
    background: #EC704C;
    color: #fff;
    margin-left: 50px;
}
.h_triangle {
    float: left;
    width: 0px;
    height: 0px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent transparent #EC704C;
    position: relative;
    top: 50%;
    margin-top: -7px;
}
.h_title {
    float: left;
    width:400px;
    display: inline-block;
    height: 80px;
    margin-left: 24px;
    background: url(../images/jzgjcs.png);
}
.h_title2 {
    float: left;
    width:400px;
    display: inline-block;
    height: 80px;
    margin-left: 24px;
    background: url(../images/jzgjzs.png);
}
.h_title4,.h_title3{float: left;
    width:400px;
    display: inline-block;
    height: 80px;
    margin-left: 24px;}
.h_title3 { 
    background: url(../images/skgjpz.png);
}
.h_title4{background: url(../images/qypzrwlb.png);}
.color1{color:#ec704c;}
.datebox-h{width:228px;height:24px;line-height: 24px;}
.content_box {
    padding: 18px;
    margin: 13px 10px;
    box-shadow: 2px 2px 23px #909090;
    background: #e8e5e4;
}
.float-div{float: left;width:33%;margin:15px 0;}
.xx-box{width:89%;height:240px;margin:0 auto;border:1px solid #ccc;background: #fff;position: relative;}
.result{display: table;width:100%;}
.lf-img{display: inline-block;width:30%;}
.lf-img>img{width:98px;margin:0 10px;position: absolute;top:50%;margin-top:-60px;}
.rg-xx{display: inline-block;width:64%;position:relative;z-index:1000000;}
.xx-line>.xx-xm{font-weight:600;float:left;color:#2145ca;width:130px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.xx-line{width:100%;line-height: 35px;}
.xx-line>span,.xx-line>i{margin:0 3px;color:#848080;cursor: pointer;}
.xx-line>i{color:#848080;line-height: 35px;}
.xx-line>.c125{float: right;color:#f11f05;}
.xx-line{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.xx-line>.green{color:#40ea0a;}
.xx-line>.yellow{color:#eac710;}
.xx-line>.orange{color:#ce4b22;}
.xx-box:hover{box-shadow: 0 0 20px 0 rgba(41,27,41,.5);}
.xx-line>.label{display: inline-block;margin:0 5px;padding:2px 5px;background: #e23e35;height: 20px;
    line-height: 20px;
    border-radius: 11px;
    font-size: 12px;color:#fff;}
.over{    overflow: inherit;white-space: inherit;}
/************menu*************/
#menu{width:100%;height:30px;background: #053d76;}
.menu_list{float:left;color:#fff;height:100%;line-height: 30px;margin-left:111px;}
.menu_list li{float:left;margin:0 18px;height:100%;line-height: 30px;font-weight:600;}
.menu_list li a{display: inline-block;position:relative;width:100%;height:100%;line-height: 30px;cursor: pointer;}
.act{border-bottom:1.5px solid #F59D8E;color: #f59d8e;}
.bot_triangle{width: 0px;height: 0px;*width: 8px;   *height: 8px;font-size: 0;line-height: 0; overflow: hidden;border-width: 8px;border-style: dashed dashed solid dashed;border-color:#EC704C transparent transparent transparent;position:absolute;bottom:-16px;left:50%;margin-left: -4px;}
/*-------------content1-----------------*/
.top-div{border-bottom: 1px dashed #ccc;}
.top-div i,.bottom-div i{font-style: inherit;font-weight:600;}
.b-lf-img>img{width:98px;margin:0 10px;position:relative;top:-16px;}
.b-lf-img{display: inline-block;width:30%;}