<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.founder.interservice.mapper.xzxt.RecordLogMapper">

    <sql id="queryQueryLog_where">
      <if test="cxrSfzh != null and cxrSfzh != ''">
        and t.CXR_SFZH like CONCAT(CONCAT('%',#{cxrSfzh}),'%')
      </if>
      <if test="cxrXm != null and cxrXm != '' ">
        and t.CXR_XM like CONCAT(CONCAT('%',#{cxrXm}),'%')
      </if>
      <if test="cxrJh != null and cxrJh != ''">
        and t.CXR_JH like CONCAT(CONCAT('%',#{cxrJh}),'%')
      </if>
      <if test="cxrLxdh != null and cxrLxdh != ''">
        and t.CXR_LXDH like CONCAT(CONCAT('%',#{cxrLxdh}),'%')
      </if>
      <if test="dldwdm != null and dldwdm != ''">
        and t.DLDWDM like CONCAT(CONCAT('%',#{dldwdm}),'%')
      </if>
      <if test="dldwmc != null and dldwmc != ''">
        and t.DLDWMC like CONCAT(CONCAT('%',#{dldwmc}),'%')
      </if>
      <if test="cxbsh != null and cxbsh != ''">
        and t.CXBSH like CONCAT(CONCAT('%',#{cxbsh}),'%')
      </if>
      <if test="bshlxdm != null and bshlxdm != ''">
        and t.BSHLXDM like CONCAT(CONCAT('%',#{bshlxdm}),'%')
      </if>
      <if test="bshlxmc != null and bshlxmc != ''">
        and t.BSHLXMC like CONCAT(CONCAT('%',#{bshlxmc}),'%')
      </if>
      <if test="asjbh != null and asjbh != ''">
        and t.ASJBH like CONCAT(CONCAT('%',#{asjbh}),'%')
      </if>
      <if test="kssj != null and kssj != ''">
        and t.DJSJ <![CDATA[>=]]> to_date(#{kssj},'yyyy-MM-dd')
      </if>
      <if test="jssj != null and jssj != ''">
        and t.DJSJ <![CDATA[<=]]> to_date(#{jssj},'yyyy-MM-dd')
      </if>
    </sql>

    <insert id="saveQueryLog" parameterType="com.founder.interservice.recordLog.model.Querylog">
        INSERT INTO TB_ST_QUERYLOG
          (XXZJBH,
          CXR_SFZH,
          CXR_XM,
          CXR_JH,
          CXR_LXDH,
          DLDWDM,
          DLDWMC,
          CXBSH,
          BSHLXDM,
          BSHLXMC,
          ASJBH,
          DJSJ)
        VALUES
          (#{xxzjbh },
        <if test="cxrSfzh != null and cxrSfzh != ''">
            #{cxrSfzh},
        </if>
        <if test="cxrSfzh == null or cxrSfzh == ''">
            '' ,
        </if>
        <if test="cxrXm != null and cxrXm != ''">
            #{cxrXm},
        </if>
        <if test="cxrXm == null or cxrXm == ''">
            '' ,
        </if>
        <if test="cxrJh != null and cxrJh != ''">
            #{cxrJh},
        </if>
        <if test="cxrJh == null or cxrJh == ''">
            '' ,
        </if>
        <if test="cxrLxdh != null and cxrLxdh != ''">
            #{cxrLxdh},
        </if>
        <if test="cxrLxdh == null or cxrLxdh == ''">
            '' ,
        </if>
        <if test="dldwdm != null and dldwdm != ''">
            #{dldwdm},
        </if>
        <if test="dldwdm == null or dldwdm == ''">
            '' ,
        </if>
        <if test="dldwmc != null and dldwmc != ''">
            #{dldwmc},
        </if>
        <if test="dldwmc == null or dldwmc == ''">
            '' ,
        </if>
        <if test="cxbsh != null and cxbsh != ''">
            #{cxbsh},
        </if>
        <if test="cxbsh == null or cxbsh == ''">
            '' ,
        </if>
        <if test="bshlxdm != null and bshlxdm != ''">
            #{bshlxdm},
        </if>
        <if test="bshlxdm == null or bshlxdm == ''">
            '' ,
        </if>
        <if test="bshlxmc != null and bshlxmc != ''">
            #{bshlxmc},
        </if>
        <if test="bshlxmc == null or bshlxmc == ''">
            '' ,
        </if>
        <if test="asjbh != null and asjbh != ''">
            #{asjbh},
        </if>
        <if test="asjbh == null or asjbh == ''">
            '' ,
        </if>
          SYSDATE)
    </insert>

  <select id="queryQueryLogCount" parameterType="com.founder.interservice.recordLog.queryModel.QuerylogFilter" resultType="java.lang.Integer">
    select count(*)
    from TB_ST_QUERYLOG t
    <where>
      <include refid="queryQueryLog_where"/>
    </where>
  </select>

  <select id="queryQueryLogByPage" parameterType="com.founder.interservice.recordLog.queryModel.QuerylogFilter" resultType="com.founder.interservice.recordLog.model.Querylog">
      select *
          from (
              select
                  t1.*,
                  rownum as rn
              from (
                  select
                  t.CXR_SFZH as cxrSfzh,
                  t.CXR_XM as cxrXm,
                  t.CXR_JH as cxrJh,
                  t.CXR_LXDH as cxrLxdh,
                  t.DLDWDM,
                  t.DLDWMC,
                  t.CXBSH,
                  t.BSHLXDM,
                  t.BSHLXMC,
                  t.ASJBH,
                  t.DJSJ
                  from TB_ST_QUERYLOG t
                  <where>
                    <include refid="queryQueryLog_where"/>
                  </where>
                  order by t.DJSJ desc
              )t1
              <where>
                and rownum <![CDATA[ <= ]]> #{end }
              </where>
          ) t2
          <where>
            rn <![CDATA[ > ]]> #{begin }
          </where>

  </select>

</mapper>