<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.founder.interservice.mapper.xzxt.RegionalTaskMapper">

    <select id = "quertRegionalCountByTaskId" parameterType = "String" resultType="int" >
        select count(*)
          from TB_ST_REGIONAL
          <where>
              task_id = #{taskId}
          </where>
    </select>


    <select id="findTaskListByAsjbh" parameterType="com.founder.interservice.regionalanalysis.model.RegionalTask" resultType="com.founder.interservice.regionalanalysis.model.RegionalTask">
        select t2.*
            from (
              select t1.*,
                  rownum as rn
                from (
                    select
                        t.TASK_ID as taskId,
                        t.TASK_NAME as taskName,
                        t.EXPRESSION as expression,
                        t.PROGRESS as progress,
                        t.STATE as state,
                        t.TASK_CASE_ID as taskCaseId,
                        t.DJSJ as djsj
                    from TB_ST_REGIONALTASK t
                      where t.TASK_CASE_ID = #{taskCaseId}
                      order by t.djsj
              ) t1
              where rownum <![CDATA[ <= ]]> #{endNum}
            ) t2
          where rn <![CDATA[ > ]]> #{startNum}
    </select>
    <select id="findTaskListByAsjbhTotalCount" parameterType="com.founder.interservice.regionalanalysis.model.RegionalTask" resultType="java.lang.Integer">
        select
            count(*)
        from XZXT.TB_ST_REGIONALTASK t
          where t.TASK_CASE_ID = #{taskCaseId}
    </select>
</mapper>